.MacOSWindow {
	display: flex;
	flex-direction: column;
	width: 100dvw;
	height: 100dvh;
	padding: 1.5rem;
	align-items: center;
	justify-content: center;
	gap: 20%;
}

.MacOSWindowContainer {
	display: flex;
	justify-content: center;
	width: 100%;
	height: 40%;
	border: 1px solid black;
}

.MacOSNavContainer {
	display: flex;
}

.MacOSSideWindowContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 24px;
}
