/* USED FOR LIGHTMODE VARS */
:root {
	--topbar-bg: #e5e5e5;
	--topbar-border: #d1d1d1;

	--window-glass: rgba(255, 255, 255, 0.4);
	--glass-blur: blur(20px);

	--text-main: #1a1a1a;
	--text-title: #4d4d4d;
	--text-inverted: #ffffff;

	--mac-red: #ff5f56;
	--mac-yellow: #ffbd2e;
	--mac-green: #27c93f;
}
/* USED FOR DARK MODE VARS */
[data-theme="dark"] {
	--topbar-bg: #323232;
	--topbar-border: #454545;

	--window-glass: rgba(28, 28, 28, 0.4);
	--glass-blur: blur(20px);

	--text-main: #ffffff;
	--text-title: #cecece;
	--text-inverted: #1a1a1a;

	--mac-red: #ff5f56;
	--mac-yellow: #ffbd2e;
	--mac-green: #27c93f;
}

body {
	margin: 0;
	padding: 0;
	font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

.glass {
	width: inherit;
	height: inherit;
	background: rgba(255, 255, 255, 0.18);
	backdrop-filter: blur(17px);
	-webkit-backdrop-filter: blur(17px);
	border-radius: 20px;
	border: 1px solid rgba(255, 255, 255, 0.3);
	box-shadow:
		0 8px 32px rgba(0, 0, 0, 0.1),
		inset 0 1px 0 rgba(255, 255, 255, 0.5),
		inset 0 -1px 0 rgba(255, 255, 255, 0.1),
		inset 0 0 20px 10px rgba(255, 255, 255, 1);
	position: relative;
	overflow: hidden;
}

.glass::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	height: 1px;
	background: linear-gradient(
		90deg,
		transparent,
		rgba(255, 255, 255, 0.8),
		transparent
	);
}

.glass::after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 1px;
	height: 100%;
	background: linear-gradient(
		180deg,
		rgba(255, 255, 255, 0.8),
		transparent,
		rgba(255, 255, 255, 0.3)
	);
}
