/* USED FOR LIGHTMODE VARS */
:root {
	--topbar-bg: #e5e5e5;
	--topbar-border: #d1d1d1;

	--window-glass: rgba(255, 255, 255, 0.4);
	--glass-blur: blur(20px);

	--text-main: #1a1a1a;
	--text-title: #4d4d4d;
	--text-inverted: #ffffff;

	--mac-red: #ff5f56;
	--mac-yellow: #ffbd2e;
	--mac-green: #27c93f;
}
/* USED FOR DARK MODE VARS */
[data-theme="dark"] {
	--topbar-bg: #323232;
	--topbar-border: #454545;

	--window-glass: rgba(28, 28, 28, 0.4);
	--glass-blur: blur(20px);

	--text-main: #ffffff;
	--text-title: #cecece;
	--text-inverted: #1a1a1a;

	--mac-red: #ff5f56;
	--mac-yellow: #ffbd2e;
	--mac-green: #27c93f;
}

body {
	margin: 0;
	padding: 0;
	font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}
